@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

#title {
    margin: 12px 0px 20px;
    font-size: 46px;
    color:crimson;
    text-shadow: 1px 1px black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    height: 600px;
    padding: 10px;
    width: 760px;
    box-shadow: 0px 0px 2px, 0px 0px 8px  black;
}

.container {
    display: grid;
    background-color: white;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.menu {
    display: flex;
    padding: 10px 0px;
}

.slider {
    display: flex;
    flex-direction: column;
}

.slider p {
    margin: 0px;
    text-align: center;
    font-size: 20px;
}